---
name: Screen Reader Only
notes: |
  The ```.sr-only``` class visually hides content. With the additional ```.sr-only-focusable``` class content becomes visible when focused (for sighted keyboard users).
---

<a class="sr-only sr-only-focusable" href="#main-content">Skip to main content</a>
