---
name: Space
---
<div class="space-xs">Space only on the xs breakpoint</div>
<div class="space-sm">Space only on the sm breakpoint</div>
<div class="space-md">Space only on the md breakpoint</div>
<div class="space-lg">Space only on the lg breakpoint</div>
<div class="space-xl">Space only on the xl breakpoint</div>
