---
name: Space Up
---
<div class="space-xs-up">Space from the xs breakpoint</div>
<div class="space-sm-up">Space from the sm breakpoint</div>
<div class="space-md-up">Space from the md breakpoint</div>
<div class="space-lg-up">Space from the lg breakpoint</div>
