{{#extend "blank" htmlclass="drizzle-Layout" bodyclass="drizzle-Layout-body"}}
  {{#content "head" mode="append"}}
    <link rel="stylesheet" href="https://unpkg.com/baseguide@latest/dist/css/baseguide.min.css">
    <link rel="stylesheet" href="assets/drizzle/styles/drizzle.css">
    <link rel="stylesheet" href="assets/toolkit/styles/toolkit.css">

    <script>
      WebFontConfig = {
        google: {
          families: ['Merriweather:900:latin']
        }
      };

      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  {{/content}}
  {{#content "body"}}
    {{> drizzle.nav}}
    <div class="drizzle-Layout-main drizzle-u-cf">
      <div class="drizzle-u-pad drizzle-u-rhythm">
        {{#block "main"}}

        {{/block}}

        <footer class="footer">
          <ul class="list-unstyled list-wrap text-center">
              <li><a class="github-button" href="https://github.com/slavanga/baseguide/archive/master.zip" data-icon="octicon-cloud-download" data-size="large" aria-label="Download slavanga/baseguide on GitHub">Download</a></li>
              <li><a class="github-button" href="https://github.com/slavanga/baseguide/issues" data-icon="octicon-issue-opened" data-size="large" aria-label="Issue slavanga/baseguide on GitHub">Report a Bug</a></li>
              <li><a class="github-button" href="https://github.com/slavanga/baseguide" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star slavanga/baseguide on GitHub">Star</a></li>
          </ul>
          <p class="small text-center text-muted">
            Licensed under the <a href="https://github.com/slavanga/baseguide/blob/master/LICENSE">MIT License</a>.
          </p>
        </footer>
      </div>
    </div>
  {{/content}}
  {{#content "foot"}}
    <script src="assets/drizzle/scripts/drizzle.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8765653-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-8765653-5', {
        'anonymize_ip': true
      });
    </script>

  {{/content}}
{{/extend}}
