---
name: Hyphenation
notes: |
  It is advisable to set the lang attribute on the HTML element to enable hyphenation support and improve accessibility.
links:
  "CSS Hyphenation Support": http://caniuse.com/#feat=css-hyphens
---
<p class="text-hyphenate">{{data "specimens.paragraph"}}</p>
