---
name: Default
previewClass: preview-button
---

<a class="btn" href="#" role="button">Button Link</a>
<button class="btn" type="submit">Button Element</button>
<input class="btn" type="button" value="Button Input">
<input class="btn" type="submit" value="Submit Input">
