---
name: Disabled
previewClass: preview-button
---

<a class="btn disabled" href="#" role="button" tabindex="-1" aria-disabled="true">Button Link</a>
<button class="btn" type="submit" disabled>Button Element</button>
<input class="btn" type="button" value="Button Input" disabled>
<input class="btn" type="submit" value="Submit Input" disabled>
