---
name: Basic
notes: |
  All columns need ```.col``` as base class. Their width can be set using modifier classes (e.g. ```.col-xs-6```).
---
<div class="container">
  <div class="row">
    <div class="col col-xs-6">Column A</div>
    <div class="col col-xs-6">Column B</div>
  </div>
</div>
