---
name: Push / Pull
---
<div class="container">
  <div class="row">
    <div class="col col-xs-6 col-xs-push-6">
      First column in markup
    </div>
    <div class="col col-xs-6 col-xs-pull-6">
      Second column in markup
    </div>
  </div>
</div>
