---
name: Nested
---
<div class="container">
  <div class="row">
    <div class="col col-md-8">
      <div class="row">
        <div class="col col-md-6">
          Nested column A
        </div>
        <div class="col col-md-6">
          Nested column B
        </div>
      </div>
    </div>
  </div>
</div>
