---
name: Checkbox (stacked)
---
<div class="checkbox">
  <input type="checkbox" id="checkbox-1">
  <label for="checkbox-1">Option One</label>
</div>
<div class="checkbox">
  <input type="checkbox" id="checkbox-2">
  <label for="checkbox-2">Option Two</label>
</div>
<div class="checkbox">
  <input type="checkbox" id="checkbox-3" disabled>
  <label for="checkbox-3">Option Three</label>
</div>
