---
name: Checkbox (inline)
---
<ul class="list-inline">
  <li>
    <div class="checkbox">
      <input type="checkbox" id="checkbox-inline-1">
      <label for="checkbox-inline-1">Option One</label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <input type="checkbox" id="checkbox-inline-2">
      <label for="checkbox-inline-2">Option Two</label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <input type="checkbox" id="checkbox-inline-3" disabled>
      <label for="checkbox-inline-3">Option Three</label>
    </div>
  </li>
</ul>
