---
name: Radio (inline)
---
<ul class="list-inline">
  <li>
    <div class="radio">
      <input type="radio" id="radio-inline-1" name="radio-2">
      <label for="radio-inline-1">Option One</label>
    </div>
  </li>
  <li>
    <div class="radio">
      <input type="radio" id="radio-inline-2" name="radio-2">
      <label for="radio-inline-2">Option Two</label>
    </div>
  </li>
  <li>
    <div class="radio">
      <input type="radio" id="radio-inline-3" name="radio-2" disabled>
      <label for="radio-inline-3">Option Three</label>
    </div>
  </li>
</ul>
