/**
 * Toolkit Styles
 */

:root {
  /* Common properties */

  /* SUIT component properties */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

code, pre {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #243a54;
}

.preview h1,
.drizzle-Layout-main h2,
.drizzle-Layout-main h3,
.drizzle-Layout-main h4,
.drizzle-Layout-main h5,
.drizzle-Layout-main h6 {
  font-weight: 300;
}

.drizzle-Layout-main {
  max-width: 1170px;
  max-width: 73.125rem;
}

.drizzle-Heading {
  margin: 0;
}

.font-family-brand {
  font-family: Georgia, serif;
  font-weight: bold;
}

.wf-active .font-family-brand {
  font-family: Merriweather, Georgia, serif;
  font-weight: normal;
}

.logo {
  margin-bottom: 0;
  font-size: 20.8px;
  font-size: 1.3rem;
  color: #fff;
}

.drizzle-Nav-header {
  background-color: #243a54;
}

.drizzle-Nav-header-toggle {
  width: 30px;
  right: 16px;
  right: 1rem;
}

.drizzle-Nav-main {
  font-size: 14px;
  font-size: 0.875rem;
}

.drizzle-Nav-item {
  font-size: inherit;
  padding: 0.6em 1em;
  margin-bottom: 0;
}

.drizzle-Nav-label {
  margin-top: 0.6em;
}

.drizzle-Nav li a:hover:not(.is-active),
  .drizzle-Nav li a:focus:not(.is-active) {
  color: #0283f1;
}

.drizzle-u-textLarger {
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.code,
.drizzle-Item-notes code {
  padding: 2px 5px;
  margin: 0 1px;
  border-radius: 2px;
  font-size: 0.8em;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .01), inset -1px -1px rgba(0, 0, 0, .01);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .01), inset -1px -1px rgba(0, 0, 0, .01);
  white-space: nowrap;
  background: rgba(0, 100, 250, .1);
  color: #357;
}

.drizzle-Item-notes blockquote {
  border-left: 4px solid #dfe2e5;
  padding-left: 1em;
}

.preview {
  border-bottom: 2px solid #f0f0f0
}

.preview:last-child {
  border-bottom: 0;
}

.preview-button .btn {
  margin-bottom: 0.2em;
}

.text-muted {
  color: #666;
}

.list-wrap {
  margin-bottom: 0.2em
}

.list-wrap li {
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.8em;
}

.footer {
  margin-top: 32px;
  margin-top: 2rem;
}

.btn--outline {
  border-color: #0275d8;
  background-color: transparent;
  color: #0275d8
}

.btn--outline:hover,
  .btn--outline:focus {
  border-color: #025aa5;
}

@media (min-width: 60em) {
  .footer {
    margin-top: 4rem;
  }
}

@media (max-width: 959px) {
  .drizzle-Layout-main h1 {
    font-size: 2.36859304rem;
  }
  .drizzle-Layout-main h2 {
    font-size: 1.776889rem;
  }
  .drizzle-Layout-main h3 {
    font-size: 1.333rem;
  }
  .drizzle-Layout-main h4 {
    font-size: 1rem;
  }
  .drizzle-Layout-main h5,
    .drizzle-Layout-main h6 {
    font-size: 0.75018755rem;
  }

  .drizzle-Item {
    padding: 0.5rem 0;
  }
}
