---
name: Aligned
---

<div class="space-xs-up">
  <div class="media">
    <div class="media-left media-middle">
      <a href="#">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyBAMAAADsEZWCAAAAG1BMVEXMzMyWlpaqqqq3t7exsbGcnJy+vr6jo6PFxcUFpPI/AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAQUlEQVQ4jWNgGAWjgP6ASdncAEaiAhaGiACmFhCJLsMaIiDAEQEi0WXYEiMCOCJAJIY9KuYGTC0gknpuHwXDGwAA5fsIZw0iYWYAAAAASUVORK5CYII="
        alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4>Media Middle</h4>
      <p>{{data "specimens.paragraph"}}</p>
    </div>
  </div>
</div>

<div class="space-xs-up">
  <div class="media">
    <div class="media-left media-bottom">
      <a href="#">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyBAMAAADsEZWCAAAAG1BMVEXMzMyWlpaqqqq3t7exsbGcnJy+vr6jo6PFxcUFpPI/AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAQUlEQVQ4jWNgGAWjgP6ASdncAEaiAhaGiACmFhCJLsMaIiDAEQEi0WXYEiMCOCJAJIY9KuYGTC0gknpuHwXDGwAA5fsIZw0iYWYAAAAASUVORK5CYII="
        alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4>Media Bottom</h4>
      <p>{{data "specimens.paragraph"}}</p>
    </div>
  </div>
</div>
